* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Arial', sans-serif;
    background: #fde3e4;
    color: rgb(91, 1, 50);
    
}

header { 
    background-color: #f4a9d7;
    color: rgb(200, 0, 116);
    text-align: center;
    
}

nav a { 
    margin: 0 15px;
    text-decoration: none;
    color: rgb(33, 1, 16);
    font-weight: bold;
}

main{ 
    padding: 40px;
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.destaque img {  
    width: 300px;
    margin-top: 0%;
    border-radius: 10px;
}




